{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>Document</title>
</head>
<body>
  <ul class="sidenav brown darken-4" id="mobile-nav">
    <li><a href="/"><i class="material-icons left">layers_clear</i>Строительные материалы</a></li>
    <li><a data-target='clickProductsDropdown' id="click-dropdown" class="dropdown-trigger">
      <i class="material-icons left">local_grocery_store</i>Продукция
    </a></li>
    <li><a href="/ral_colors"><i class="material-icons left">palette</i>RAL цвета</a></li>
    <li><a href="/about"><i class="material-icons left">help_outline</i>О нас</a></li>
  </ul>
  
  <div class="navbar-fixed">
    <nav>
      <div class="row wrap nav-wrapper brown darken-4">
        <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <div class="col l3">
          <a href="/" class="brand-logo"><h5>Karkas-krovlya.dp.ua</h5></a>
        </div>
        <ul class="col hide-on-med-and-down">
          <li><a href="/"><i class="material-icons left">layers_clear</i>Строительные материалы</a></li>
          <li><a data-target='hoverProductsDropdown' id="hover-dropdown" class="dropdown-trigger">
            <i class="material-icons left">local_grocery_store</i>Продукция
          </a></li>
          <li><a href="/ral_colors"><i class="material-icons left">palette</i>RAL цвета</a></li>
          <li><a href="/about"><i class="material-icons left">help_outline</i>О нас</a></li>
        </ul>
        <div class="col hide-on--large-and-down right" style="height: 100%; display: none">
          <div class="input-field">
            
            <input id="search" type="search" placeholder="Поиск по сайту" class="white-text">
            <label for="search" class="label-icon white-text">
              <i class="material-icons">search</i>
            </label>
          </div>
        </div>

        <div id="hoverProductsDropdown" class="dropdown-content brown darken-4">
        {% for product in products %}
          <li><a href="/products/{{ product.slug }}" class="white-text">{{ product.title }}</a></li>
        {% endfor %}
        </div>
        <div id="clickProductsDropdown" class="dropdown-content brown darken-4">
        {% for product in products %}
          <li><a href="/products/{{ product.slug }}" class="white-text">{{ product.title }}</a></li>
        {% endfor %}
        </div>

      </div>
    </nav>
  </div>

  {% block header %}{% endblock %}
  
  <div class="container">
    {% block content %}{% endblock %}
  </div>
    
  </div>
  <footer class="page-footer brown darken-4">
    <div class="container">
      <div class="row">
        <div class="col s12 m6 l4">
          <h5>Продукция</h5>
          <div class="divider"></div>
          <ul>
          {% for product in products %}
            <li><a href="/products/{{ product.slug }}" class="btn-flat white-text">
              <i class="material-icons left">reply</i>
              {{ product.title }}
            </a></li>
          {% endfor %}
          </ul>
        </div>
        <div class="col s12 m6 l4">
          <h5>Контакты</h5>
          <div class="divider"></div>
          <ul>
          {% for contact in contacts %}
            <li><p class="white-text"><i class="material-icons left">{{ contact.iconName }}</i>{{ contact.value }}</p></li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <h6 style="text-align: center">© 2018 Copyright Text</h6>
    </div>
  </footer>
  <!-- Compiled and minified JavaScript -->
  <script src="{% static 'js/materialize.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  {% block js %}{% endblock %}
</body>
</html>