input[type="search"] {
  height: 100% !important; 
  margin: 0;
  padding-left: 45px !important;
}

input[type="search"]:focus {
  background-color: #6d4c41 !important;
}

input[type="search"]:focus label i{
  color: white;
}

.nav-wrapper, .sidenav a, .sidenav i {
  color: #eee !important;
}

.nav-wrapper ul li a {
  text-transform: uppercase;
}

.nav-wrapper ul li a.active {
  color: yellow;
}

.nav-wrapper li:hover, .dropdown-content li:hover {
  background-color: #6d4c41;
}

.carousel .carousel-item {
  height: 500px !important;
  width: 100% !important;
}

.css-parallax {
  height: 350px !important;
  width: 100% !important;
}

.carousel-item, .css-parallax {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}


.carousel-item div {
  background: #222;
  opacity: 0.75;
  padding: 20px;
}

.content-ckeditor {
  font-size: 16px;
}

.content-ckeditor img {
  max-width: 100%;
  max-height: 800px;
  object-fit: contain;
}

.content-ckeditor h1, h2 {
  font-size: 1.4em;
}

.content-ckeditor h3, h4 {
  font-size: 1.3em;
}

.content-ckeditor h5, h6 {
  font-size: 1.2em;
}

.content-ckeditor li {
  list-style: none !important;
  font-style: italic;
}

.content-ckeditor li:before {
  content: '\25C6';
  padding-right: 1em;
}

.content-ckeditor ul {
  padding-left: 2em;
}

.content-ckeditor p {
  text-align: justify;
}

#map {
  height: 400px;
  margin-bottom: 3em;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex .col {
  margin-left: 0 !important;
}

